@import "../../../../variables.scss";
.sign-in {
  background: rgba(10, 20, 32, 0.75);
  // border-radius: 5px;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to right, #ffdd00, #fbb034) 1;
  padding: 30px 50px 20px 50px;
  .heading {
    font-family: "Rajdhani";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .sub-heading {
    font-family: "Nunito";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    opacity: 0.65;
  }
  .alink {
    font-family: "Nunito";
    font-weight: bold !important;
    font-size: 20px !important;
    font-style: normal;
    background: none;
    border: none;
    color: $yellow;
    text-transform: none !important;
  }

  .margin-top {
    margin-top: 20px;
  }
}
.button-section {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  .button-image-section {
    width: 100%;
  }
}
.account-link {
  font-family: "Nunito";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #fff;
  margin: 20px auto;
}
.link-button {
  font-family: "Nunito" !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 16px !important;
  color: #ffdd00 !important;
  background: none !important;
  border: 0 !important;
  text-transform: none !important;
}
.mm-messasge {
  color: #ffdd00 !important;
  font-family: "Nunito" !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 16px !important;
}
.metamask {
  padding: 10px !important;
  font-size: 16px !important;
  &:before {
    width: 95%;
    height: 55%;
    left: -6.5%;
    // top: -9%;
  }
  &:after {
    width: 98%;
    height: 20%;
    left: -2%;
  }
  .MuiIcon-root {
    width: 1.5rem;
    height: 1.5em;
  }
}
.social-button {
  font-family: "Nunito";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  .MuiIcon-root {
    width: 90% !important;
    height: 90% !important;
  }
  .MuiIconButton-root {
    padding: 12px 0 0 !important;
  }
}
