input {
  background: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-sizing: border-box;
  border-radius: 5px;
  color: #ffffff;
  padding: 20px 30px;
  outline: none !important;
  font-family: "Nunito" !important;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  &:focus {
    border: 1px solid #fff !important;
  }
}

::-webkit-input-placeholder {
  /* Edge */
  color: #ffffff;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ffffff;
}

::placeholder {
  color: #ffffff;
}
