.header {
  display: flex;
  color: #ffdd00;
  // width: 100%;
  padding: 30px 50px;
  height: 120px;
  .flex-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .logo-section {
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    .MuiAvatar-root {
      width: 100% !important;
      height: 100% !important;
    }
    .image-section {
      width: 120px;
      height: 120px;
    }
  }
  .menu-section {
    display: flex;
    width: calc(100% / 3);
    justify-content: end;
    .menu-button {
      padding: 6px 40px !important;
    }
    .MuiButton-root {
      text-transform: none !important;
      font-size: 20px !important;
      color: #ffdd00 !important;
      font-family: "Nunito" !important;
      span {
        background: -webkit-linear-gradient(360deg, #ffdd00, #fbb034);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .MuiPaper-root {
      font-family: "Nunito" !important;
      background: linear-gradient(180deg, #ffdd00, #fbb034) !important;
      color: #000 !important;
    }
    .MuiMenuItem-root {
      font-family: "Nunito" !important;
      font-size: 18px !important;
    }
  }
  @media (max-width: 767px) {
    display: block;

    .logo-section {
      display: none;
    }
    .menu-section {
      width: 100%;
      justify-content: flex-start;
      // display: none;
    }
  }
}
