html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select,
textarea {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
  text-align: left;
}
body {
  background: url("./Assets/BG.png") no-repeat center center fixed;
  background-size: cover;
  background-position: top;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  height: 100%;
  font-family: "Rajdhani";
}
html {
  font-size: 62.5%;
  height: 100%;
}
#app {
  background: radial-gradient(
    3397.25% 1628.13% at 50% 27.13%,
    rgba(19, 42, 73, 0) 0%,
    rgba(10, 18, 29, 0.85) 100%
  );
  height: 100%;
}
