html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select,
textarea {
  margin: 10px 0px;
}

// html {
//   box-sizing: border-box;
// }
// *,
// *:before,
// *:after {
//   box-sizing: inherit;
// }
img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
  text-align: left;
}
body {
  background: url("./Assets/BG.png") no-repeat center center fixed;
  background-size: cover;
  background-position: top;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  height: 100vh;
  // height: auto;
  font-family: "Rajdhani";
}
html {
  // font-size: 62.5%;
  // height: 100%;
  // height: auto;
  box-sizing: border-box;
}
#app {
  background: linear-gradient(
    90deg,
    rgba(19, 42, 73, 0.75) 0%,
    rgba(10, 18, 29, 0.75) 100%
  );
  height: 100%;
  .loader {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .MuiCircularProgress-colorPrimary {
    width: 140px !important;
    height: 140px !important;
    color: #ffdd00 !important;
    position: absolute !important;
    top: 30% !important;
  }
  // height: 100%;
  // height: auto;
}
.yellow-tex {
  background: -webkit-linear-gradient(360deg, #ffdd00, #fbb034);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}
.error-section {
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Nunito";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}
.form-error-section {
  margin: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-family: "Nunito";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}
.error-color {
  color: #ff8486;
}
